<div class="p-2 columns m-0 is-size-6" style="background-color: #a6d8ff">
  <div class="column is-10 p-0">License Information</div>
  <div class="column is-2 p-0 has-text-right pr-3">
    <a title="Add new License">Add More</a>
  </div>
</div>
<div>
    <div class="columns m-0 p-1">
        <div class="column is-1 has-text-weight-semibold p-1">
            Sno.
        </div>
        <div class="column is-3 has-text-weight-semibold p-1">
            License No
        </div>
        <div class="column is-3 has-text-weight-semibold p-1">
            System Name
        </div>
        <div class="column is-2 has-text-weight-semibold p-1">
            Activation
        </div>
        <div class="column is-2 has-text-weight-semibold p-1">
            Used
        </div>
        <div class="column is-1 has-text-weight-semibold p-1">
            Locked
        </div>
    </div>
    <div class="is-divider m-0"></div>
    <div class="columns m-0 p-1">
        <div class="column is-1 is-size-6 p-1">
            1
        </div>
        <div class="column is-3 is-size-6 p-1">
            123456789
        </div>
        <div class="column is-3 is-size-6 p-1">
            System Name
        </div>
        <div class="column is-2 is-size-6 p-1">
            YES
        </div>
        <div class="column is-2 is-size-6 p-1">
            YES
        </div>
        <div class="column is-1 is-size-6 p-1">
            <button class="is-small button is-rounded">Block</button>
        </div>
    </div>
</div>
