<div
  class="has-background-white-bis has-text-centered"
  style="border-radius: 10px; height: 330px; max-width: 400px"
>
  <div class="has-text-centered pt-2">
    <img
      src="../../../assets/img/static/logo.png"
      width="50px"
      height="50px"
    />
  </div>

  <p class="is-block has-text-centered is-size-7">Forget Password</p>
  
    <p class="is-block has-text-centered is-size-7 is-inline-block" style="width: 300px;">
        Please use your email address, information will sent to the mail address
      </p>
  
  
  <div class="field px-5 mt-3">
    <p class="control has-icons-left mx-3">
      <input class="input" type="email" placeholder="Email" />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
 
  <div class=" px-5 mt-5">
      <button class="button is-info w-150p">Reset Password</button>
      <p class="my-2">Back to the<a class="ml-2" routerLink="..">Login Page</a></p>
  </div>
</div>
