
<div class="container has-background-grey-dark">
  <div class="columns m-0 p-0">
    <div class="column is-half">
      <button routerLink="new" class="button is-small">
        <span><i class="fas fa-plus pr-1"></i>Add License</span>
      </button>
    </div>
    <div class="column has-text-right">
      <button class="button is-small" title="Refresh"><i class="fas fa-redo-alt"></i></button>
    </div>
    <div class="column is-one-fifth">
      <p class="control has-icons-right">
        <input class="input is-small" type="text" placeholder="Search" />
        <span class="icon is-small is-right">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>
</div>
