<div class="container div-shadow">
  <div>
    <sa-agent-list-header></sa-agent-list-header>
  </div>
  <div class="mt-3">
    <div class="container has-background-grey-dark p-3">
        <div class="columns m-0 is-mobile is-desktop">
            <div class="column is-3 m-0 p-0">
                <span class="is-size-6 has-text-white-bis">Agent Lists</span>
            </div>
            <div class="column m-0 p-0 has-text-right">
                <button class="is-small button" title="Refresh"><i class="fas fa-redo-alt"></i></button>
                <p class="control has-icons-right is-inline-block ml-2">
                    <input class="input is-small" type="text" placeholder="Search" />
                    <span class="icon is-small is-right">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>
            </div>
        </div>
       
    </div>
  </div>
  <div>
    <div class="columns m-0 p-1">
        <div class="column is-1 has-text-weight-semibold p-1">Sno.</div>
        <div class="column is-1 has-text-weight-semibold p-1">Date</div>
        <div class="column has-text-weight-semibold p-1">Name</div>
        <div class="column has-text-weight-semibold p-1">Email</div>
        <div class="column has-text-weight-semibold p-1">Mobile</div>
        <div class="column has-text-weight-semibold p-1">Address</div>
        <div class="column has-text-weight-semibold p-1">Total P.</div>
        <div class="column has-text-weight-semibold p-1">Sale S.</div>
        <div class="column is-1 has-text-weight-semibold p-1">Action</div>
    </div>
    <div class="is-divider m-0"></div>
    <div class="columns m-0 p-1">
        <div class="column is-1 p-1">Sno.</div>
        <div class="column is-1 p-1">Date</div>
        <div class="column p-1">Name</div>
        <div class="column p-1">Email</div>
        <div class="column p-1">Mobile</div>
        <div class="column p-1">Address</div>
        <div class="column p-1">Total P.</div>
        <div class="column p-1">Sale S.</div>
        <div class="column is-1 p-1">
            <div
          class="dropdown "
          #drop
          (mouseenter)="actionHover(drop)"
          (mouseleave)="actionHover(drop)"
        >
          <div class="dropdown-trigger">
            <button class="button is-small is-clickable">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a routerLink="detail/{{1}}" class="dropdown-item has-text-success">
                <i class="fas fa-info-circle"></i
                ><span class="pl-1">Detail</span>
              </a>
              <a class="dropdown-item has-text-info">
                <i class="fas fa-edit"></i><span class="pl-1">Edit</span>
              </a>
             
              <a class="dropdown-item has-text-danger">
                <i class="fas fa-trash"></i><span class="pl-1">Delete</span>
              </a>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
</div>
