<div class="columns m-0">
  <div class="column is-5">
    <div class="columns m-0">
      <div class="column is-5">
        <div>
            <img width="300px" height="300px" src="https://bulma.io/images/placeholders/256x256.png" />
        </div>
        
        
      </div>
      <div class="column is-7">
        <p class="is-size-5 has-text-weight-semibold">User Information</p>
        <div>
            <span class="is-size-7">Name:</span>
            <span class="ml-1 is-size-7 has-text-weight-semibold">asdasd</span>
        </div>
        <div >
            <span class="is-size-7">Email:</span>
            <span class="ml-1 is-size-7 has-text-weight-semibold" >raheja.abhi@hotmail.com</span>
        </div>
        <div>
            <span class="is-size-7">Mobile:</span>
            <span class="ml-1 is-size-7 has-text-weight-semibold">9914964911</span>
        </div>

        <p class="is-size-5 has-text-weight-semibold mt-2">Company Information</p>
        <div >
            <span class="is-size-7">Name:</span>
            <span  class="ml-1 is-size-7 has-text-weight-semibold">asdasd</span>
        </div>
        <div>
            <span class="is-size-7">Email:</span>
            <span  class="ml-1 is-size-7 has-text-weight-semibold">raheja.abhi@hotmail.com</span>
        </div>
        <div>
            <span class="is-size-7">Mobile:</span>
            <span  class="ml-1 is-size-7 has-text-weight-semibold">9914964911</span>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="is-divider-vertical"></div>
  </div>
  <div class="column is-3">
    <p class="is-size-5 has-text-weight-semibold">Address Information</p>
    <div>
        <span class="is-size-7">City:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold">asdasd</span>
    </div>
    <div >
        <span class="is-size-7">State:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold" >raheja.abhi@hotmail.com</span>
    </div>
    <div>
        <span class="is-size-7">Pincode:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold">9914964911</span>
    </div>
    <div>
        <span class="is-size-7">Address:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold">9914964911</span>
    </div>
    <p class="is-size-5 has-text-weight-semibold mt-2">Product Information</p>
    <div>
        <span class="is-size-7">License Type:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold">Registered</span>
    </div>
    <div >
        <span class="is-size-7">License Validity:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold" >09 Feb 2021</span>
    </div>
    <div>
        <span class="is-size-7">Total Licenses:</span>
        <span class="ml-1 is-size-7 has-text-weight-semibold">1</span>
    </div>
  </div>
  <div class="columns">
    <div class="is-divider-vertical"></div>
  </div>
  <div class="column is-3">
    <p class="is-size-5 has-text-weight-semibold mt-2">License Information</p>
    <div>
        <span class="is-size-7">QR CODE:</span>
        
    </div>
    <div >
        <figure class="image is-128x128">
            <img src="https://blog.hubspot.com/hs-fs/hub/53/file-2457427390-jpg/00-Blog_Thinkstock_Images/qr-code.jpg?width=381&name=qr-code.jpg">
          </figure>
       
    </div>
    <div>
        <span class="ml-1 is-size-7 has-text-weight-semibold">123456789123456</span>
    </div>
  </div>
</div>
