<div class="container has-background-grey-dark p-3">
  <span class="is-size-6 has-text-white-bis" style="vertical-align: middle"
    >Agent Management</span
  >
</div>
<div>
  <div class="columns m-0">
    <div class="column">
      <p class="pb-2 is-size-7">Agent Basic Detail</p>
      <div class="field">
        <input type="text" class="input" placeholder="Agent Name" />
      </div>
      <div class="field">
        <input type="email" class="input" placeholder="Agent Email Address" />
      </div>
      <div class="field">
        <input type="text" class="input" placeholder="Agent Mobile No" />
      </div>
    </div>
    <div class="column">
      <p class="pb-2 is-size-7">Address Detail</p>
      <div class="field">
        <input type="text" class="input" placeholder="Agent City" />
      </div>
      <div class="field">
        <input type="email" class="input" placeholder="Agent State" />
      </div>
      <div class="field">
        <input type="text" class="input" placeholder="Agent Pincode" />
      </div>
    </div>
    <div class="column">
      <p class="pb-2 is-size-7">Initial Product Detail</p>
      <div class="field">
        <input
          type="number"
          min="1"
          max="50"
          value="1"
          class="input"
          placeholder="Total Licenses"
        />
      </div>
      <div class="field">
        <input type="number" class="input" placeholder="Amount" />
      </div>
      <div class="field">
        <input type="text" class="input" placeholder="Payment Mode" />
      </div>
    </div>
  </div>
  <div class="columns m-0 p-1 px-2">
    <div class="column p-0 px-1">
        <textarea class="textarea has-fixed-size" placeholder="Address"></textarea>
      </div>
      <div class="column p-0 px-1">
        <textarea class="textarea has-fixed-size" placeholder="Notes"></textarea>
      </div>
      
  </div>
  <div class="has-text-right pr-3">
    <button class="button is-primary is-loading w-100p">Save</button>
    <button class="button w-100p ml-2">Clear</button>
  </div>
</div>
