
  
  .div-header-blue {
    border-top: 10px solid #429ce3;
    border-left: 1px solid #429ce3;
    border-right: 1px solid #429ce3;
    border-bottom: 1px solid #429ce3;
    padding: 5px;
  }
  
  .div-company-name {
    height: 15px;
    background-color: #002642;
    padding: 1px;
    border-radius: 0px 0px 10px 0px;
  }
  
  
  .minus-margin-top-6{
    margin-top: -6px
  }
  
  .minus-margin-top-20{
    margin-top: -20px
  }
  
  .f-9{
    font-size: 9px
  }