<fieldset [disabled]="formDisable">
  <div class="m-3">
    <div>
      <div class="div-header-blue">
        <div class="columns m-0 is-mobile is-desktop">
          <div class="column is-one-fifth is-mobile is-desktop">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" />
            </figure>
          </div>
          <div class="column">
            <div>
              <span class="is-size-5 p-0 m-0">Application name</span>
            </div>
            <div class="is-relative">
              <div class="div-company-name"></div>
              <div class="is-my-absolute top-0 minus-margin-top-6">
                <span
                  class="is-size-7 px-2 minus-margin-top-20 has-text-white is-inline-block"
                  >Company Name</span
                >
              </div>
            </div>
            <div>
              <span class="is-size-5">₹ 10000</span>
              <span class="is-size-7 ml-1">per license</span>
            </div>
            <div>
              <p class="is-size-7">
                <strong class="is-size-7 m-0 p-0">#Note</strong> Lorem ipsum
                dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="buttons are-small mr-1 is-inline">
              <button
                [disabled]="licenseBuy < 2"
                (click)="changeLicense('min')"
                class="button is-small is-rounded"
              >
                <span class="icon is-small">
                  <i class="fas fa-minus"></i>
                </span>
              </button>
            </div>
            <div class="is-inline">
              <input
                class="input is-small has-text-centered w-50p"
                type="text"
                value="{{ licenseBuy }}"
                maxlength="2"
                readonly
              />
            </div>
            <div class="buttons are-small ml-1 is-inline">
              <button
                [disabled]="licenseBuy > 9"
                (click)="changeLicense('add')"
                class="button is-small is-rounded"
              >
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div>
        <strong class="is-size-5">Product Detail</strong>
      </div>
      <div class="is-relative">
        <div class="px-3 mt-2 is-my-absolute right-0 w-300p div-header-blue">
          <div>
            <span class="is-size-5"
              >Summary - {{ licenseBuy }} License<span *ngIf="licenseBuy > 1"
                >s</span
              ></span
            >
            <hr class="m-0 mt-1 bcolor-e2e2e2" />
          </div>
          <div class="p-1 bcolor-e2e2e2 is-relative">
            <span>Product Cost</span>
            <div class="is-inline-block is-my-absolute right-0">
              <span>₹10000</span>
            </div>
          </div>
          <div class="is-relative">
            <span>Product Cost</span>
            <span class="ml-1 f-9">with discount</span>
            <div class="is-inline-block is-my-absolute right-0">
              <span>₹10000</span>
            </div>
          </div>

          <div class="is-relative">
            <span>Add On</span>
            <div class="is-inline-block is-my-absolute right-0">
              <span>₹0</span>
            </div>
          </div>

          <div class="is-relative">
            <span>GST</span>
            <span class="ml-1 f-9">18% GST</span>
            <div class="is-inline-block is-my-absolute right-0">
              <span>₹1800</span>
            </div>
          </div>
          <hr class="m-0 mt-1 bcolor-e2e2e2" />
          <div class="px-1 mt-1 bcolor-e2e2e2 is-relative">
            <span>Total Price</span>
            <div class="is-inline-block is-my-absolute right-0">
              <span>₹11800</span>
            </div>
          </div>
          <div class="my-2 has-text-centered">
            <button class="button" (click)="payAmount()">
              Proceed to checkout
            </button>
            <a class="is-block" (click)="cancelPayment()">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
