<div
  class="has-background-white-bis has-text-centered"
  style="border-radius: 10px; height: 330px; max-width: 400px"
>
  <div class="has-text-centered pt-2">
    <img src="../../../assets/img/static/logo.png" width="50px" height="50px" />
  </div>

  <p class="is-block has-text-centered is-size-7">Log in to Application Name</p>
  <p class="is-block has-text-centered is-size-7">
    Please use your email address to login your account
  </p>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="field px-5 mt-3">
      <p class="control has-icons-left mx-3">
        <input
          class="input"
          [class.is-danger]="
            loginForm.get('username').invalid &&
            loginForm.get('username').touched
          "
          formControlName="username"
          type="email"
          placeholder="Email"
          required
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
      <p
        class="has-text-left ml-3"
        *ngIf="
          loginForm.get('username').invalid && loginForm.get('username').touched
        "
      >
        <small class="has-text-danger">* Email id is not correct</small>
      </p>
    </div>

    <div class="field px-5 mt-3">
      <p class="control has-icons-left mx-3">
        <input class="input"   [class.is-danger]="
        loginForm.get('password').invalid &&
        loginForm.get('password').touched
      " type="password" placeholder="Password" formControlName="password" />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="px-5 mt-3">
      <button type="submit" [disabled]="loginForm.invalid" class="button is-info w-100p">Login</button>
      <p class="my-2">
        Need any help?<a class="ml-2" [routerLink]="['forget']"
          >Forget Password</a
        >
      </p>
    </div>
  </form>
</div>
