html{
    height: 100%;
}
body{
    height: 100%;
}

.w-100{
    width: 100%;
}
.w-100p{
    width: 100px !important;
}

.w-50p{
    width: 50px !important;
}

.w-150p{
    width: 150px !important;
}

.w-300p{
    width: 300px !important;
}

.left-0{
    left: 0 !important;
}

.right-0{
    right: 0 !important;
}

.top-0{
    top: 0 !important;
}

.bottom-0{
    bottom: 0 !important;
}

.is-my-absolute{
    position: absolute !important;
}

.h-100{
    height: 100%;
}
.h-100p {
    height: 100px !important;
  }

.btn-transparent{
    background-color: transparent;
    border: 1px solid;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2.5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .bcolor-e2e2e2{
      background-color: #e2e2e2;
  }

  .div-shadow {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2),
      0 1px 20px 0 rgba(0, 0, 0, 0.19);
  }
  