<div class="container">
  <div class="columns has-text-weight-medium is-family-secondary is-size-6 has-background-grey-lighter m-0">
    <div [class]="item.className" *ngFor="let item of listHeader">
      <span class="ellipsis" title="{{item.name}}">{{item.name}}</span>  
    </div>
  </div>
  <div id="list-items" class="columns has-text-weight-light is-size-6 m-0" *ngFor="let lstItem of listItems">
    <div [class]="item" *ngFor="let item of lstItem.items">
<!-- Image Show -->
      <div *ngIf="item.listModel ==listType.Image">
        <figure class="image is-24x24">
          <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
      </div>

      <!-- Text Box Show -->
      <div *ngIf="item.listModel ==listType.Text">
        <span title="{{item.name}}">{{item.name}}</span>  
      </div>

      <!-- Action Button -->
      <div *ngIf="item.listModel ==listType.Action">
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button class="btn-transparent">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </button>
            <!-- <button class="button p-0 m-0" aria-controls="dropdown-menu3">
            
                <i class="fas fa-angle-right" aria-hidden="true"></i>
              
            </button> -->
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item">
                Overview
              </a>
              <a href="#" class="dropdown-item">
                Modifiers
              </a>
              <a href="#" class="dropdown-item">
                Grid
              </a>
              <a href="#" class="dropdown-item">
                Form
              </a>
              <a href="#" class="dropdown-item">
                Elements
              </a>
              <a href="#" class="dropdown-item">
                Components
              </a>
              <a href="#" class="dropdown-item">
                Layout
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
