<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img
          src="https://bulma.io/images/bulma-logo.png"
          width="112"
          height="28"
        />
      </a>
  
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item nav-item" routerLink="home" routerLinkActive="is-active"> Home </a>
        <a class="navbar-item nav-item" routerLink="about" routerLinkActive="is-active"> About Us </a>
        <div class="navbar-item nav-item has-dropdown is-hoverable">
          <a class="navbar-link nav-item"> Products </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" [routerLink]="['product/pro1']"  routerLinkActive="is-active"> ABC Product </a>
            <a class="navbar-item"> RJF Product </a>
            <a class="navbar-item"> Testing Product </a>
            <hr class="navbar-divider" />
            <a class="navbar-item"> Boiler Plates </a>
          </div>
        </div>
        <a class="navbar-item nav-item" routerLink="contact" routerLinkActive="is-active"> Contact Us </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light" [routerLink]="['../login']"> Log in </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div>

    <router-outlet></router-outlet>
  </div>
  
  