<div class="grid-main">
    <div class="side-nav-shadow">
        <app-header></app-header>
    </div>
    <div class="grid-menu-divide">
      <div class="side-nav-shadow">
        <app-side-nav></app-side-nav>
      </div>
      <div class="m-2">
          <router-outlet></router-outlet>
          
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  