.grid-main {
    display: grid;
    height: 100%;
    grid-template-rows: min-content auto min-content;
  }
  
  .grid-menu-divide {
    display: grid;
    grid-template-columns: min-content auto;
  }
  

  .side-nav-shadow{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  }