<div class="container div-shadow">
  <div class="container">
    <div
      class="columns has-text-weight-medium is-family-secondary is-size-6 has-background-grey-lighter m-0"
    >
      <div [class]="item.className" *ngFor="let item of listHeader">
        <span class="ellipsis" title="{{ item.name }}">{{ item.name }}</span>
      </div>
    </div>
    <div
      id="list-items"
      class="columns has-text-weight-light is-size-6 m-0"
      *ngFor="let lstItem of listItem"
    >
      <div class="column is-0 mx-2 mr-3 my-1 p-1">
        <figure class="image is-24x24">
          <img
            class="is-rounded"
            [src]="
              lstItem.image
                ? lstItem.image
                : 'https://bulma.io/images/placeholders/128x128.png'
            "
          />
        </figure>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <span title="{{ lstItem.licenseNo }}">{{
          lstItem.licenseNo | ellipsis: 12
        }}</span>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <span title="{{ lstItem.name }}">{{ lstItem.name | ellipsis: 8 }}</span>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <span title="{{ lstItem.email }}">{{
          lstItem.email | ellipsis: 12
        }}</span>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <span title="{{ lstItem.phone }}">{{
          lstItem.phone | ellipsis: 12
        }}</span>
      </div>
      <div class="column is-2 mx-2 my-1 p-1">
        <span title="{{ lstItem.companyName }}">{{
          lstItem.companyName | ellipsis: 24
        }}</span>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <span title="{{ lstItem.companyMobile }}">{{
          lstItem.companyMobile | ellipsis: 12
        }}</span>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <span title="{{ lstItem.licenseType }}">{{
          lstItem.licenseType | ellipsis: 12
        }}</span>
      </div>
      <div class="column is-small mx-2 my-1 p-1">
        <span title="{{ lstItem.islock }}">{{
          lstItem.islock | ellipsis: 7
        }}</span>
      </div>
      <div class="column is-small mx-2 my-1 p-1">
        <span title="{{ lstItem.isActive }}">{{
          lstItem.isActive | ellipsis: 7
        }}</span>
      </div>
      <div class="column is-1 mx-2 my-1 p-1">
        <div
          class="dropdown"
          #drop
          (mouseenter)="actionHover(drop)"
          (mouseleave)="actionHover(drop)"
        >
          <div class="dropdown-trigger">
            <button class="button is-small is-clickable">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a
                [routerLink]="['detail', lstItem.id]"
                class="dropdown-item has-text-success"
                ><i class="fas fa-info-circle"></i
                ><span class="pl-1">Detail</span></a
              >
              <a
                class="dropdown-item has-text-info"
                (click)="updateLicenseModal(lstItem)"
              >
                <i class="fas fa-edit"></i><span class="pl-1">Edit</span>
              </a>

              <a
                class="dropdown-item has-text-danger"
                (click)="deleteLicense(lstItem)"
              >
                <i class="fas fa-trash"></i><span class="pl-1">Delete</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" #deleteModal>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete License</p>
      <button
        (click)="closeModal('delete')"
        class="delete"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      Do you want to delete
      <strong class="has-text-danger">{{ selectedList.name }} </strong> license?
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" (click)="deleteLicenseModal()">
        Delete License
      </button>
      <button class="button" (click)="closeModal('delete')">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal" #updateModel>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Update License</p>
      <button
        (click)="closeModal('update')"
        class="delete"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      <sa-license-edit></sa-license-edit>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info" (click)="deleteLicenseModal()">
        Update License
      </button>
      <button class="button" (click)="closeModal('update')">Cancel</button>
    </footer>
  </div>
</div>
