.grid-main {
  display: grid;
  grid-template-rows: min-content auto min-content;
}
.side-nav {
  width: 280px;
}

.img-container {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
}

.position-center {
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  margin-top: 50%;
  margin-right: 50%;
  transform: translate(50%, -80%);
}

.img-position-center {
  margin-left: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 48px;
}


.text-150{
    width: 150px;
    text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px rgb(163, 142, 142)
}