<div class="side-nav grid-main h-100">
  <div>
    <!-- Header -->
    <div class="is-relative">
      <!-- Background Image -->
      <div class="img-container">
        <img src="../../../assets/img/static/background.png" alt="background" />
      </div>
      <div class="position-center">
        <figure class="image is-96x96 img-position-center">
          <img
            class="is-rounded"
            src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-512.png" alt="profile"
          />
        </figure>
        <div class="has-text-primary-light has-text-centered m-1 text-150">
          <span>Abhishek Raheja</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu Items -->
  <div style="background-color: white" class="m-0 mt-2 pl-2 py-2">
    <aside class="menu">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li><a [routerLink]="[ 'dashboard' ]" routerLinkActive="is-active">Dashboard</a></li>
        <li><a [routerLink]="[ 'license' ]" routerLinkActive="is-active">Licenses</a></li>
        <li><a [routerLink]="[ 'agent' ]" routerLinkActive="is-active">Agent</a></li>
        <li><a [routerLink]="[ 'archive' ]" routerLinkActive="is-active">Archived</a></li>
      </ul>
      <p class="menu-label">Reporting</p>
      <ul class="menu-list">
        <li><a [routerLink]="[ 'sms' ]" routerLinkActive="is-active">SMS</a></li>
        <li><a [routerLink]="[ 'validity' ]" routerLinkActive="is-active">Validity</a></li>
        <li><a [routerLink]="[ 'payment' ]" routerLinkActive="is-active">Payments</a></li>
        <li><a [routerLink]="[ 'discount' ]" routerLinkActive="is-active">Discounts</a></li>
        <!-- <li>
          <a class="is-active">Manage Your Team</a>
          <ul>
            <li><a>Members</a></li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
          </ul>
        </li> -->
       
      </ul>
      <p class="menu-label">Gateway</p>
      <ul class="menu-list">
        <li><a [routerLink]="[ 'gate' ]" routerLinkActive="is-active">Payment Gateway</a></li>
      
      </ul>
    </aside>
  </div>
  <!-- Bottom -->
  <div style="background-color: rosybrown"></div>
</div>
