<div class="has-background-white-bis div-shadow">
    <div>
        <button class="button is-small" routerLink="../.." title="Go Back">
            <i class="fas fa-arrow-left"></i>
        </button>
        <span class="is-size-5 ml-2 has-text-weight-bold">
            License Detail
        </span>
    </div>
   <sa-license-detail-user-card></sa-license-detail-user-card>
</div>  
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-license-info></sa-license-info>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-list-users></sa-list-users>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-license-validity></sa-license-validity>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-sms-detail></sa-sms-detail>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-user-details></sa-user-details>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-sale-details></sa-sale-details>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-payment-details></sa-payment-details>
</div>

<div class="mt-2 has-background-white-bis div-shadow">
    <sa-discount-details></sa-discount-details>
</div>

<div class="mt-2 has-background-white-bis div-shadow">
    <sa-user-ledger></sa-user-ledger>
</div>
<div class="mt-2 has-background-white-bis div-shadow">
    <sa-invoices></sa-invoices>
</div>





