<div class="p-2 columns m-0 is-size-6" style="background-color: #a6d8ff">
    <div class="column is-10 p-0">Ledger</div>
  </div>
  <div>
    <div class="columns m-0 p-1">
      <div class="column is-1 has-text-weight-semibold p-1">Sno.</div>
      <div class="column is-1 has-text-weight-semibold p-1">Date</div>
      <div class="column is-5 has-text-weight-semibold p-1">Type</div>
      <div class="column is-1 has-text-weight-semibold p-1">Dr/Cr</div>
      <div class="column is-1 has-text-weight-semibold p-1">Debit</div>
      <div class="column is-1 has-text-weight-semibold p-1">Credit</div>
      <div class="column is-2 has-text-weight-semibold p-1">Balance</div>
    </div>
    <div class="is-divider m-0"></div>
    <div class="columns m-0 p-1">
        <div class="column is-1 p-1">Sno.</div>
        <div class="column is-1 p-1">Date</div>
        <div class="column is-5 p-1">Type</div>
        <div class="column is-1 p-1">Dr/Cr</div>
        <div class="column is-1 p-1">Debit</div>
        <div class="column is-1 p-1">Credit</div>
        <div class="column is-2 p-1">Balance</div>
    </div>
  </div>
  