<fieldset [disabled]="formDisable">
  <form
    [formGroup]="licenseForm"
    (submit)="lockDetails()"
    (change)="textChange()"
  >
    <div class="p-2 div-overflow h-100">
      <div>
        <p class="is-size-5 mb-1">Personal Detail</p>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              type="text"
              [class.is-danger]="
                licenseForm.get('name').invalid &&
                licenseForm.get('name').touched
              "
              maxlength="40"
              placeholder="Name"
              formControlName="name"
              id="name"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>

            <span
              *ngIf="
                licenseForm.get('name').invalid &&
                licenseForm.get('name').touched
              "
            >
              <small
                *ngIf="!licenseForm.get('name').hasError('minlength')"
                class="has-text-danger"
                >* Name is required</small
              >
              <small
                *ngIf="licenseForm.get('name').hasError('minlength')"
                class="has-text-danger"
                >* Length must be greater than 3</small
              >
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              [class.is-danger]="
                licenseForm.get('email').invalid &&
                licenseForm.get('email').touched
              "
              formControlName="email"
              type="email"
              maxlength="200"
              placeholder="Personal Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span
              *ngIf="
                licenseForm.get('email').invalid &&
                licenseForm.get('email').touched
              "
            >
              <small class="has-text-danger">* Email id is not correct</small>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              [class.is-danger]="
                licenseForm.get('mobile').invalid &&
                licenseForm.get('mobile').touched
              "
              type="tel"
              maxlength="10"
              formControlName="mobile"
              placeholder="Mobile No"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-mobile"></i>
            </span>
            <span
              *ngIf="
                licenseForm.get('mobile').invalid &&
                licenseForm.get('mobile').touched
              "
            >
              <small class="has-text-danger"
                >* Mobile number is not correct</small
              >
            </span>
          </p>
        </div>
      </div>
      <div class="mt-2">
        <p class="is-size-5 mb-1">Company Detail</p>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              type="text"
              maxlength="40"
              [class.is-danger]="
                licenseForm.get('company').invalid &&
                licenseForm.get('company').touched
              "
              formControlName="company"
              placeholder="Company Name"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span
              *ngIf="
                licenseForm.get('company').invalid &&
                licenseForm.get('company').touched
              "
            >
              <small
                *ngIf="!licenseForm.get('company').hasError('minlength')"
                class="has-text-danger"
                >* Company Name is required</small
              >
              <small
                *ngIf="licenseForm.get('company').hasError('minlength')"
                class="has-text-danger"
                >* Length must be greater than 3</small
              >
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              type="email"
              maxlength="200"
              [class.is-danger]="
                licenseForm.get('companyEmail').invalid &&
                licenseForm.get('companyEmail').touched
              "
              formControlName="companyEmail"
              placeholder="Company Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span
              *ngIf="
                licenseForm.get('companyEmail').invalid &&
                licenseForm.get('companyEmail').touched
              "
            >
              <small class="has-text-danger">* Email id is not correct</small>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              type="tel"
              maxlength="10"
              [class.is-danger]="
                licenseForm.get('companyPhone').invalid &&
                licenseForm.get('companyPhone').touched
              "
              formControlName="companyPhone"
              placeholder="Company Mobile No"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-mobile"></i>
            </span>
            <span
              *ngIf="
                licenseForm.get('companyPhone').invalid &&
                licenseForm.get('companyPhone').touched
              "
            >
              <small class="has-text-danger"
                >* Mobile number is not correct</small
              >
            </span>
          </p>
        </div>

        <div class="field">
          <div class="select w-100">
            <select class="w-100" formControlName="state">
              <option value="" selected>--SELECT--</option>
              <option value="Test">With options</option>
            </select>
          </div>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input
              class="input"
              type="text"
              formControlName="city"
              placeholder="City"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-city"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <textarea
              class="input h-100p"
              type="text"
              formControlName="address"
              placeholder="Address"
            ></textarea>
            <span class="icon is-small is-left">
              <i class="fas fa-map"></i>
            </span>
          </p>
        </div>
        <div class="is-relative">
          <button
            type="submit"
            class="button is-my-absolute right-0 w-100p"
            [disabled]="licenseForm.invalid"
          >
            Lock
          </button>
        </div>
      </div>
    </div>
  </form>
</fieldset>
