<div class="p-2 columns m-0 is-size-6" style="background-color: #a6d8ff">
  <div class="column is-10 p-0">Invoices</div>
</div>
<div>
  <div class="columns m-0 p-1">
    <div class="column is-1 has-text-weight-semibold p-1">Sno.</div>
    <div class="column is-1 has-text-weight-semibold p-1">Date</div>
    <div class="column is-1 has-text-weight-semibold p-1">Invoice No</div>
    <div class="column is-4 has-text-weight-semibold p-1">Product Name</div>
    <div class="column is-1 has-text-weight-semibold p-1">Amount</div>
    <div class="column is-1 has-text-weight-semibold p-1">P. Mode</div>
    <div class="column is-2 has-text-weight-semibold p-1">Transaction ID</div>
    <div class="column is-1 has-text-weight-semibold p-1"></div>
  </div>
  <div class="is-divider m-0"></div>
  <div class="columns m-0 p-1">
    <div class="column is-1 p-1">Sno.</div>
    <div class="column is-1 p-1">Date</div>
    <div class="column is-1 p-1">Invoice No</div>
    <div class="column is-4 p-1">Product Name</div>
    <div class="column is-1 p-1">Amount</div>
    <div class="column is-1 p-1">P. Mode</div>
    <div class="column is-2 p-1">Transaction ID</div>
    <div class="column is-1 p-1"><button class="button is-small" title="Print"><i class="fas fa-print"></i></button></div>
  </div>
</div>
