<div class="has-background-white-ter h-100">
  <div class="is-relative">
    <div class="has-text-centered">
      <img
        class="img-logo is-clickable"
        [src]="selectedImage"
        (click)="fileInput.click()"
      />

      <input
        style="display: none"
        type="file"
        (change)="onFileChanged($event)"
        #fileInput
      />
    </div>
    <div>
      <button
        routerLink=".."
        title="Go Back"
        class="button is-small is-my-absolute top-0"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
  </div>

  <div class="has-text-centered">
    <p>{{ card.name }}</p>
    <p>
      <strong>{{ card.company }}</strong>
    </p>
  </div>
  <hr class="mx-2 my-1" />
  <div class="mx-1">
    <p class="has-text-info-dark">Basic Details</p>
    <div class="mt-2">
      <span class="is-size-7">Email</span>
      <br />
      <span>{{ card.email }}</span>
    </div>
    <div class="mt-2">
      <span class="is-size-7">Phone</span>
      <br />
      <span>{{ card.mobile }}</span>
    </div>
    <div class="mt-2">
      <span class="is-size-7">Address</span>
      <br />
      <span
        >{{ card.address }}{{ card.city ? "," : "" }} {{ card.city }}
        {{ card.state ? "," : "" }} {{ card.state }}</span
      >
    </div>
  </div>
</div>
