<div class="p-2 columns m-0 is-size-6" style="background-color: #a6d8ff">
    <div class="column is-10 p-0">User Details</div>
  </div>
  <div>
      <div class="columns m-0 p-1">
        <div class="column is-1 has-text-weight-semibold p-1">
            Sno.
        </div>
        <div class="column has-text-weight-semibold p-1">
            License No
        </div>
        <div class="column has-text-weight-semibold p-1">
           Name
        </div>
        <div class="column is-1 has-text-weight-semibold p-1">
            DOB
        </div>
        <div class="column has-text-weight-semibold p-1">
            Mobile No
        </div>
        <div class="column has-text-weight-semibold p-1">
          Email ID
      </div>
      <div class="column has-text-weight-semibold p-1">
          Username
       </div>
       <div class="column is-1 has-text-weight-semibold p-1">
          Status
       </div>
      </div>
      <div class="is-divider m-0"></div>
      <div class="columns m-0 p-1">
        <div class="column is-1 p-1">
            Sno.
        </div>
        <div class="column p-1">
            License No
        </div>
        <div class="column p-1">
           Name
        </div>
        <div class="column is-1 p-1">
            06 Jul 1991
        </div>
        <div class="column p-1">
            Mobile No
        </div>
        <div class="column p-1">
          Email ID
      </div>
      <div class="column p-1">
          Username
       </div>
       <div class="column is-1 p-1">
          Status
       </div>
      </div>
  </div>
  