<div class="p-2 columns m-0 is-size-6" style="background-color: #a6d8ff">
    <div class="column is-10 p-0">License Validity</div>
    <div class="column is-2 p-0 has-text-right pr-3">
      <a title="Add new License">Add More</a>
    </div>
  </div>
  <div>
      <div class="columns m-0 p-1">
          <div class="column is-4 has-text-weight-semibold p-1">
              Sno.
          </div>
          <div class="column is-4 has-text-weight-semibold p-1">
              Start From
          </div>
          <div class="column is-4 has-text-weight-semibold p-1">
              End Till
          </div>
         
      </div>
      <div class="is-divider m-0"></div>
      <div class="columns m-0 p-1">
          <div class="column is-4 is-size-6 p-1">
              1
          </div>
          <div class="column is-4 is-size-6 p-1">
              09 Feb 2020
          </div>
          <div class="column is-4 is-size-6 p-1">
              09 Feb 2022
          </div>
         
      </div>
  </div>
  