<div class="py-1 has-background-white-ter">
  <div class="grid-main">
    <div class="company-logo-size has-text-right">
      <img src="../../../assets/img/static/logo.png" alt="company-logo" />
    </div>
    <div class="is-align-self-center is-size-5">
      <span>Company Name</span>
    </div>
    <div class="has-text-right">
      <div class="dropdown is-clickable" #dropDownView (mouseenter)="menuExpend()" (mouseleave)="menuExpend()">
        <div class="dropdown-trigger mr-6">
          <div class="mr-5 profile-size">
            <a class="navbar-link">
              <img
                src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_female_woman_avatar-512.png"
                alt="profile"
              />
            </a>
          </div>
        </div>
        <div class="dropdown-menu has-text-left" id="dropdown-menu3" role="menu">
          <div class="dropdown-content ">
            <a href="#" class="dropdown-item"> Profile </a>
            <a href="#" class="dropdown-item"> Settings </a>
            <hr class="dropdown-divider" />
            <a [routerLink]="['/login']" class="dropdown-item"> Logout </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
