<div class="grid-main h-100 has-background-link-dark">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div style="align-self: center; text-align: -webkit-center; z-index: 1;">
    <router-outlet></router-outlet>
  </div>
  <div></div>
  <div></div>
  <div class="has-text-white" style="position:absolute; bottom: 0; right: 0;">
    <div>
        <div class="columns m-0">
            <div class="column is-3 p-0 m-0 has-text-left">
                <img src="../../../assets/img/static/logo.png" width="80px" height="80px">
            </div>
            <div class="column p-0 m-0">
              <p class="is-size-6 has-text-weight-bold">Application Name</p>
              <p class="is-size-6 has-text-weight-light">Application Other Information</p>
              <p class="is-size-7 has-text-weight-light">Web Ver: 0.0.1</p>
            </div>
        </div>
    </div>
  </div>
  <div>
     
  </div>
</div>
