<div>
  <div class="columns m-0">
    <div class="column is-3">
      <figure class="image is-128x128 is-clickable">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </figure>
    </div>
    <div class="column is-align-self-flex-end mb-2">
      <span class="is-size-5">Application No</span>
    </div>
  </div>
  <div class="mt-2">
    <form>
      <div class="columns m-0">
        <div class="column">
          <p class="is-size-5">Personal Information</p>
          <div class="mt-2">
            <div class="field">
              <input type="text" class="input" placeholder="Name" />
            </div>
            <div class="field">
              <input type="text" class="input" placeholder="Mobile No" />
            </div>
            <div class="field">
              <input type="text" class="input" placeholder="Email Address" />
            </div>
            <div class="p-2" style="border: 1px solid black">
              <p class="is-size-6 has-text-weight-semibold">
                Application Status
              </p>
              <div class="columns m-0">
                <div class="column">
                  <p>License Status</p>
                  <div class="field mt-2">
                    <input
                      id="switchRoundedDefault"
                      type="checkbox"
                      name="switchRoundedDefault"
                      class="switch is-rounded"
                      [checked]="false"
                    />
                    <label for="switchRoundedDefault">Active</label>
                  </div>
                </div>
                <div class="column">
                  <p>Uses Status</p>
                  <div class="field mt-2">
                    <input
                      id="switchRoundedDefault1"
                      type="checkbox"
                      name="switchRoundedDefault1"
                      class="switch is-rounded"
                      checked="checked"
                    />
                    <label for="switchRoundedDefault1">Active</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <p class="is-size-5">Company Information</p>
          <div class="mt-2">
            <div class="field">
              <input type="text" class="input" placeholder="Name" />
            </div>
            <div class="field">
              <input type="text" class="input" placeholder="Mobile No" />
            </div>
            <div class="field">
              <input type="email" class="input" placeholder="Email Address" />
            </div>
            <div class="field">
              <input type="text" class="input" placeholder="City" />
            </div>
            <div class="field">
              <input type="text" class="input" placeholder="State" />
            </div>
            <div class="field">
              <input type="text" class="input" placeholder="Pincode" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <textarea class="textarea has-fixed-size" placeholder="Address"></textarea>
</div>
