<div class="modal" #paymentModal>
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Payment Detail</p>
        <button class="delete" (click)="closeModal()" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div>
          <div class="mt-2">
            <label>Sub Total</label>
            <input readonly class="input" type="text" placeholder="Amount" />
          </div>
  
          <div class="mt-2">
            <label>Tax Amount</label>
            <input readonly class="input" type="text" placeholder="Amount" />
          </div>
  
          <div class="mt-2">
            <label>Total Payable Amount</label>
            <input class="input" type="text" placeholder="Amount" />
          </div>
  
          <div class="mt-2">
            <label>Payment Mode</label>
            <div class="select w-100 is-block">
              <select class="w-100">
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" (click)="closeModal()">Cancel</button>
      </footer>
    </div>
  </div>