<div class="h-100 grid-main div-shadow">
  <div class="columns m-0">
    <div class="column" *ngIf="!lockForm">
      <sa-license-card-info [card]="card"></sa-license-card-info>
    </div>
    <div class="column">
      <sa-license-new-form
        (lockForm)="lockFormDetail($event)"
        (cardInfoEvent)="textChange($event)"
        #licenseDetail
      ></sa-license-new-form>
    </div>
    <div class="column" [style.display]="lockForm ? 'block' : 'none'">
      <sa-license-pricing
        #priceDetail
        (payAmoutEvent)="openPaymentModal($event)"
        (cancelPaymentEvent)="lockFormDetail(!$event)"
      ></sa-license-pricing>
    </div>
  </div>
</div>

<sa-license-modal #paymentModal></sa-license-modal>
