<div class="p-2 columns m-0 is-size-6" style="background-color: #a6d8ff">
  <div class="column is-10 p-0">Sale Detail</div>
</div>
<div>
  <div class="columns m-0 p-1">
    <div class="column is-1 has-text-weight-semibold p-1">Sno.</div>
    <div class="column is-1 has-text-weight-semibold p-1">Date</div>
    <div class="column has-text-weight-semibold p-1">Product</div>
    <div class="column is-1 has-text-weight-semibold p-1">Amount</div>
    <div class="column is-1 has-text-weight-semibold p-1">Qty</div>
    <div class="column is-2 has-text-weight-semibold p-1">GST</div>
    <div class="column is-1 has-text-weight-semibold p-1">Tax</div>
    <div class="column is-1 has-text-weight-semibold p-1">Other</div>
    <div class="column is-1 has-text-weight-semibold p-1">Total</div>
    <div class="column has-text-weight-semibold p-1">Desc</div>
  </div>
  <div class="is-divider m-0"></div>
  <div class="columns m-0 p-1">
    <div class="column is-1 p-1">1.</div>
    <div class="column is-1 p-1">04 Mar 2021</div>
    <div class="column p-1">Product</div>
    <div class="column is-1 p-1">10000</div>
    <div class="column is-1 p-1">1</div>
    <div class="column is-2 p-1">GST Information Detail</div>
    <div class="column is-1 p-1">51.2</div>
    <div class="column is-1 p-1">0</div>
    <div class="column is-1 p-1">352.525</div>
    <div class="column p-1">FREE</div>
  </div>
</div>
